.frame-wrapper {
	padding: $half-padding 0;
}
.frame {
  	padding: 1px 50px 50px;
  	background: white;
  	border-radius: 5px;
  	box-shadow: 3px -3px 0px 1px #C0CCCA;
  	min-width: 230px;
}
.camera {
  	height: 4px;
  	width: 4px;
  	border-radius: 50%;
  	background: #505251;
  	margin: 23px auto;
}
.framedimage {
  	img {	
  	height: auto;
  	max-width: 100%;
  	border-radius: 2px;
  	border: 1px solid $transgrey;
  	}
}
.base {
  	border-bottom: 60px solid #505251;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;width: 100px;
  	margin: 0 auto;
}
.foot {
	width: 200px;
  	height: 20px;
  	margin: 0 auto;
  	background: white;
  	border-radius: 3px;
  	box-shadow: 0px -5px 0px -1px #97A19F;
}
.button {
    height: 25px;
  width: 25px;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 8px auto;
  /* background: #F0F5F4; */
  display: none;
}
@media (max-width: 700px) {
  .base {
    display: none;
  }
  .foot {
    display: none;
  }
  .button {
    display: block;
  }
  .frame {
    padding: 1px 40px 3px 40px
  }
  .camera {
    margin: 18px auto;
  }
}
@media (max-width: 500px) {
  .frame-wrapper {
      padding: 50px;
  }
  .frame {
    padding: 1px 20px 1px;
  }
  .button {
    margin: 15px auto;
    height: 35px;
    width: 35px;
  }
  .camera {
    margin: 23px auto;
  }
}
//flexslider css override
.flexslider {
	border: 0;
	background: none;
}