.content-wrapper {
	background: $teal;
	width: 100%;
	//max-width: 1400px;
	margin: 0 auto;
	padding: $half-padding 16.66%;
}
.blogwrap {
	.blogpost {
		position: relative;
		width: (16.66%)*5;
		background: $white;
		margin-top: $three-eight-padding;
		padding: $quarter-padding $three-eight-padding $quarter-padding $quarter-padding;
		.blogimg {
			img {
				max-width: 100%;
				height: auto;
				padding: $one-eight-padding 0;
			}
		}
	}
}
p.cat-link {
    font-size: 0.8rem;
    position: absolute;
    right: 40px;
    bottom: 22px;
}
.pagination ul {
	list-style: none;
	padding-left: 0;
	margin-top: $quarter-padding;
	li {
		display: inline-block;
		margin: $sixteenth/2;
		span {
			padding: $sixteenth/2;
			border: 2px solid $black;
			background: $black;
			color: $white;
		}
		.current {
			background: $white;
			color: $black;
		}
		a {
			padding: $sixteenth/2;
			background: $black;
			border: 2px solid $black;
			color: $white;
			text-decoration: none;
			&:hover,
			&:focus {
				@include hoverblack;
			}
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
.category-list {
	position: fixed;
	bottom: 268px;
	right: $one-eight-padding;
	background: $transblack2;
	color: $white;
	padding: $sixteenth;
	&:hover {
		transition: 0.5s;
		background: $black;
	}
	h3 {
		text-align: right;
	}
	ul {
		list-style: none;
		text-align: right;
		li {
			a {
				padding-top: $sixteenth;
				color: $white;
			}
		}
	}
}
//RESPONSIVE
@media (max-width: 750px) {
	.content-wrapper {
		padding: $one-eight-padding 16.66%;
	}
	.blogwrap {
		.blogpost {
			width: 100%;
			padding: $one-eight-padding;
			margin-top: $quarter-padding;
		}
	}
	.category-list {
		position: static;
	}
}
@media (max-width: 480px) {
	.content-wrapper {
		padding: $half-padding 8.33% $one-eight-padding 8.33%;
	}
	.blogwrap {
		.blogpost {
			margin-top: $one-eight-padding;
		}
	}
}