//color
$black: #2B2A2A;
$transblack: rgba(43,42,42,0.9);
$transblack2: rgba(43,42,42,0.4);
$white: #F7F7F7;
$transwhite: rgba(247,247,247,0.8);
$lightgrey: #B2B5B8;
$transgrey: rgba(178,181,184,0.9);
$teal: #00D1C3;
$borderwhite: 3px solid $white;

//padding
$top-padding: 14rem;
$half-padding: $top-padding/2;
$three-eight-padding: 3*($top-padding/8);
$quarter-padding: $top-padding/4;
$one-eight-padding: $top-padding/8;
$sixteenth: $top-padding/16;